doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Three.js experiment
    link(rel='stylesheet' href='styles.css')
  body
    canvas#main-canvas
    div Hola
    p Mundo
    script(src='three.min.js')
    script(src='main.js')
